.nav-btn {
    position: relative;
    font-size: 30px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.nav-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease;
}

.nav-btn:hover::after {
    width: 100%;
}