.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #2FB4AD;
}

.container{
    width: 60vw;
    height: 60vh;
    background-color: beige;
}